@charset "utf-8";
.bg_left {
	background-image: url(images/left_bg.jpg);
	background-repeat: no-repeat;
	background-position: right top;
}
#bg_right {
	background-image: url(images/right_bg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
#photo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	width: 665px;
	padding: 10px;
}
